.signupContentWrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.signupWrapper {
  display: flex;
  flex-direction: column;
}

.signupButton {
  margin-top: 20px;
}

.signUpTitle {
  margin-bottom: 25px;
}
