.canvasSectionWrapper {
  display: flex;
  flex: 10;
}


/*************
  Center
 *************/

.canvasWrapper {
   display: flex;
   position: relative;
   border: 2px solid rgb(219, 219, 219);
   height: 100%;
   flex: 8;
   justify-content: center;
   align-items: center;
 }

#whiteBoard {
  position: absolute;
  height: 100%;
  width: 100%;
  border: 1px solid red;
}

.gameStartNotice {
  font-size: 30px;
}

.correctAnswerNotice {
  display: block;
  font-size: 30px;
  position: absolute;
  text-align: center;
}

.countDown3 {
  font-size: 30px;
  position: flex;
}

.countDown2 {
  font-size: 30px;
  position: flex;
}

.countDown1 {
  font-size: 30px;
  position: flex;
}

.countDownStartHide {
  -webkit-animation: fadeout 1s forwards;
  animation: fadeout 1s forwards;
}

.gameStartNotice, .turnNoticeText {
  font-size: 30px;
  position: absolute;
}

.startHide {
  -webkit-animation: fadeout 2s forwards;
  animation: fadeout 2s forwards;
}

/*********
  tools
  ********/

.toolWrapper {
  display: flex;
  flex-direction: column;
}

.colorPickerWrapper {
  display: flex;
  flex-direction: column;
}

.colorPicker {
  display: flex;
  flex-direction: row;
}

.fa-pencil-square {
  margin: 6px;
}
