.canvasSectionWrapper {
  display: flex;
  flex: 10;
}
.pointColor {
  color: rgb(255, 64, 129);
  font-size: 18px;
}


/*************
  Center
 *************/

.canvasWrapper {
   display: flex;
   position: relative;
   border: 2px solid rgb(219, 219, 219);
   height: 100%;
   flex: 8;
   justify-content: center;
   align-items: center;
   min-height: 350px;
 }

#whiteBoard {
  position: absolute;
  height: 100%;
  width: 100%;
  min-height: 350px;
  cursor: url('../../../img/pencil.png') 0 16, auto;
}

#readyBtnAni {
  z-index: 1000;
  position: relative;
}

.gameStartNotice {
  font-size: 30px;
}

.correctAnswerNotice {
  display: block;
  font-size: 30px;
  position: absolute;
  text-align: center;
}

.countDown3 {
  font-size: 30px;
  position: flex;
}

.countDown2 {
  font-size: 30px;
  position: flex;
}

.countDown1 {
  font-size: 30px;
  position: flex;
}

.countDownStartHide {
  -webkit-animation: fadeout 1s forwards;
  animation: fadeout 1s forwards;
}

.gameStartNotice, .turnNoticeText {
  font-size: 30px;
  position: absolute;
}

.startHide {
  -webkit-animation: fadeout 2s forwards;
  animation: fadeout 2s forwards;
}

/*********
  tools
  ********/

.toolWrapper1 {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-right: 5px;
  height: 100%;
  flex: 6;
  min-height: 350px;
  max-height: 350px;
}
.toolWrapper2 {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  margin-right: 5px;
  height: 100%;
  flex: 1;
}
.toolInnerWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}
.toolOverlayer {
  background: rgba(66, 66, 66, 0.10);
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
}

.colorPickerWrapper, .lineWeightsWrapper, .editToolWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.colorPicker, .lineWeights, .editTool {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.fa-pencil-square {
  margin: 6px;
  border-radius: 3px;
  width: 17px;
  height: 15px;
}

.colorPickerPallet {
  width: 47px;
  height: 24px;
}

.weights {
  display: flex;
  width: 22px;
  height: 22px;
  margin-right: 5px;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
}
.weights:hover {
  background: rgb(222, 222, 222);
}
.clearBtn {
  display: flex;
  width: 55px;
  height: 22px;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  font-size: 12px;
  cursor: pointer;
}
.clearBtn:hover {
  background: rgb(223, 221, 221);
}

.selected {
  background: rgb(222, 222, 222);
  border: 1px solid rgb(120, 120, 120);
}

#weightTypes1 {
  display: flex;
  width: 3px;
  height: 3px;
  border-radius: 100%;
}
#weightTypes2 {
  width: 8px;
  height: 8px;
  border-radius: 100%;
}
#weightTypes3 {
  width: 13px;
  height: 13px;
  border-radius: 100%;
}
#weightTypes4 {
  width: 18px;
  height: 18px;
  border-radius: 100%;
}

.edits:hover {
  background: rgb(223, 221, 221);
}

/*********
info playerTurn
**********/

.infoWrapper, .turnDiv {
  margin-top: 10px;
}
