.header {
  width: 100%;
  flex: 0 0 auto;
}

.navbarWrapper {
  margin: 0;
  border-radius: 0px;
}

#signIn, #brandName  {
  text-decoration: none !important;
  display: inline-block;
  color: white;
  font-size: 20px;
  margin: 15px;
  padding-left: 10px;
  font-weight: 900;
  text-shadow:#999999 1px 1px 1px;
}

#signIn {
  float: right;
  padding-right: 10px;
}

#brandName {
  float: left;
}

#signIn:hover, #brandName:hover {
  color: #9c27b0;
}
