
.greeting {
  display: flex;
  margin: 0 5px;
}
.greetingWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}
.headerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}
.toggle {
  margin-right: 20px;
  margin-top: 6px;
}
@media screen and (max-width:430px)  {
  .greeting {
    display: none;
  }
}

@media screen and (max-height:480px) {
  .appBar {
    height: 50px;
  }
}
