.homeContent {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}

.brandWrapper {
  display: flex;
  flex: 5;
  flex-direction: column;
}
.sectionSpliter {
  display: flex;
  flex: 2;
}

.brandName {
  font-size: 80px;
  margin-bottom: 5px;
  background: -webkit-linear-gradient(300deg,#822fba, #ff79fa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 10s ease infinite;
  -webkit-animation: gradient 10s ease infinite;
}
#brandPencil {
  background: -webkit-linear-gradient(300deg,#822fba, #ff79fa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 10s ease infinite;
  -webkit-animation: gradient 10s ease infinite;
}

.introText {
  font-size: 28px;
}

.taglineText {
  margin-top: 10px;
}

.tagline {
  font-size: 18px;
}

.underLine {
  width: 100%;
  position: relative;
  height: 3px;
  margin-bottom: 70px;
  background: -webkit-linear-gradient(300deg,#822fba, #ff79fa);
  animation: gradient 10s ease infinite;
  -webkit-animation: gradient 10s ease infinite;
}
.contentWapper {
  display: flex;
  flex-direction: row;
}
.mainIconWrapper {
  margin-top: 5px;
  display: flex;
  padding-left: 20px;
  flex-direction: column;
}
.mainIcon {
  margin: 10px;
  margin-right: 20px;
}
.mainIconRow {
  display: flex;
  align-items: center;
}
.mainIconText {
  font-size: 18px;
}

.homeBtnWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 40px;
}

#mainSignInBtn {
  width: 100px;
  height: 50px;
  margin-top: 50px;
}

#OR {
  margin: 0 15px;
}

#mainSignUp {
  margin-left: 0;
  color: #9c27b0;
  font-weight: 900;
}

.exampleWrapper {
  display: flex;
  flex: 2;
  height: 100%;
  align-items: center;
  padding-left: 30px;
  width: 420px;
  height: 420px;
}

@media screen and (max-width:650px) {
  .mainIconText {
    display:none;
  }
  .brandName {
    font-size: 55px;
    margin-bottom: 50px;
  }
  .introText {
    font-size: 30px;
    margin-bottom: 70px;
    display: flex;
    text-align: center;
  }
  .brandWrapper {
    flex: 10;
    justify-content: center;
    align-items: center;
  }
  .contentWapper {
    flex-direction: column;
  }
  .mainIconWrapper{
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width:380px) {
  .brandName {
    font-size: 35px;
  }
  .introText {
    font-size: 20px;
  }
  .mainIconWrapper{
  }
}
@media screen and (max-width:1100px) {
  .brandWrapper {
    flex: 8
  }
}

#brandPencil {
  animation-duration: 2s;
  animation-fill-mode: both;
  transform-origin: center center;
  animation-name: swing;
  animation-iteration-count: infinite;
}
.mainIcon, .mainIconText {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-name: flipInX;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.swing {
  transform-origin: top center;
  animation-name: swing;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}
