.homeContent {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
}

.brandWrapper {
  border: 1px solid red;
  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translate(-50%, -50%);
}

.brandName {
  font-size: 80px;
  margin-bottom: 50px;
  background: -webkit-linear-gradient(300deg,#822fba, #e830e1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 1s ease infinite;
  -webkit-animation: gradient 1s ease infinite;
}

.introText {
  font-size: 20px;
}

#mainSinginBtn {
  width: 200px;
  height: 80px;
  margin-top: 50px;
}

.joinBtn:hover {
  background-color: black;
}
