.globalChatWrapper {
  height: 100%;
  padding-top: 10px;
  padding-bottom: 50px;
  position: relative;
}

.globalChatInnerWrapper {
  height: 100%;
  position: relative;
  border: 1px solid rgb(201, 201, 201);
  overflow: auto;
  overflow-x: hidden;
}

.globalChatInnerWrapper::-webkit-scrollbar {
  display: none;
}

.chatInput {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.testChat {
  background-color: rgba(103, 103, 103, 0.58);
  font-size: 20px;
  margin-bottom: 5px;
  word-break: break-all;
}
