.roomContent {
  position: absolute;
  height: 100%;
  width: 100%;
}

.sectionDivider {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#mainContentWrapper {
  display: flex;
  width: 100%;
  flex: 10;
  flex-direction: row;
}

.sidebars {
  display: flex;
  height: 100%;
  flex: 2;
  flex-direction: column;
}



/*************
  Center
 *************/

.canvasWrapper {
   display: flex;
   position: relative;
   border: 2px solid rgb(219, 219, 219);
   height: 100%;
   flex: 8;
   justify-content: center;
   align-items: center;
 }

#whiteBoard {
  position: absolute;
  height: 100%;
  width: 100%;
  border: 1px solid red;
}

.gameStartNotice {
  font-size: 30px;
  position: absolute;
}

.startHide {
  -webkit-animation: fadeout 2s forwards;
  animation: fadeout 2s forwards;
}

/*************
 Right sidebars
 *************/

.sideRow {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.turnWrapper {
  margin-top: 15px;
  flex: 4;
}


.playerTurn {
  height: 30%;
  margin: 5px;
  padding: 10px;
  font-weight: 900;
  font-size: 15px;
}

#waitingBtn, #gameReadyBtn, #leaveRoomBtn, .turnWrapper {
  margin-left: 5px;
}
 #leaveRoomBtn {
   margin-bottom: 5px;
 }

.curWordWrapper {
  margin-top: 20px;
  height: 60px;
}

.curWordTitle {
  font-size: 16px;
}

.curWord {
  font-size: 20px;
}

/*************
 Left sidebars
 *************/

 .toolWrapper {
    border: 1px solid red;
    display: flex;
    height: 100%;
    padding-right: 5px;
    flex: 1;
 }
