.roomContent {
  position: absolute;
  height: 100%;
  width: 100%;
}

.sectionDivider {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#mainContentWrapper {
  display: flex;
  width: 100%;
  flex: 10;
  flex-direction: row;
  padding-top: 25px;
}

.sidebars {
  display: flex;
  height: 100%;
  flex: 2;
  flex-direction: column;
}

@font-face {
  font-family: digitalTime;
  src: url('../../fonts/digital-7.ttf');
}

.timeRemainingText {
  font-family: digitalTime;
  font-size: 25px;
  color: white;
  text-shadow: 1px 1px 4px black, 2px 4px 2px black;
}

.timeDisplay {
  animation-name: timeglow;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  font-family: digitalTime;
  font-size: 30px;
  color: red;
  text-shadow: 2px 2px 2px black, 1px 1px 1px black, 2px 2px 2px black;
}

@keyframes timeglow {
    from {text-shadow: 2px 2px 2px black, 1px 1px 1px black, 2px 2px 2px black;}
    to {text-shadow: 2px 2px 2px black, 1px 1px 1px black, 2px 2px 2px black, 3px 3px 3px black, 4px 4px 4px black, 5px 5px 5px black;}
}

/**********
 game over
************/

.gameOverWapper {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  z-index: 100;
}

.gameOver {
  display: flex;
  font-size: 40px;
  margin-bottom: 20px;
}

.gameOverBtns {
  margin-top: 10px;
}

#playAgain, #returnLobby {
  width: 100px;
  padding: 5px;
  margin: 3px;
}

.gameOverSubtitle {
  font-size: 20px;
  margin-top: 15px;
}

.winners {
  font-size: 20px;
  margin: 5px;
  text-decoration: underline;
}
/*************
 Right sidebars
 *************/

.sideRow {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.underSideRow {
  display: flex;
  justify-content:flex-end;
}

#waitingBtn, #gameReadyBtn, .leaveRoomBtn, .turnWrapper {
  margin-left: 5px;
}

#waitingBtn, #gameReadyBtn {
  width: 150px;
  height: 80px;
  font-size: 25px;
}

 .leaveRoomBtn {
   margin-top: 30px;
 }
