.footer {
  width: 100%;
  color: #9c27b0;
  flex: 0 0 auto;
  height: 50px;
  text-shadow:#999999 1px 1px 1px;
}

.footer-content-left {
  display: inline-block;
  float: left;
  padding-left: 15px;
  padding-top: 10px;
}

.footer-content-right {
  display: inline-block;
  float: right;
  text-decoration: none !important;
  color: rgb(83, 200, 221);
  padding: 5px;
  padding-right: 15px;
  padding-top: 15px;
}

#git, .footer-content-right {
  color: #9c27b0;
}

.footer-content-right:hover {
  color: #9c27b0;
}

.footer-content-right i {
  color: rgb(83, 200, 221);
}

.fa-github {
  color: black;
}

.bottomChat {
  display: none !important;
}
@media screen and (max-width:450px) {
  .bottomChat {
    display: block !important;
  }
}
@media screen and (max-height:450px) {
  .bottomChat {
    display: block !important;
  }
}
