.footer {
  width: 100%;
  color: black;
  flex: 0 0 auto;
  height: 40px;
}

.footer-content-left {
  display: inline-block;
  float: left;
  padding-left: 15px;
}

.footer-content-right {
  display: inline-block;
  float: right;
  text-decoration: none !important;
  color: rgb(83, 200, 221);
  padding-right: 15px;
}

.footer-content-right:hover {
  color: blue;
}

.footer-content-right i {
  color: rgb(83, 200, 221);
}

.fa-github {
  color: black;
}
