.lobbyContent {
  position: absolute;
  width: 100%;
  height: 100%;
}

.lobbyContentWrapper {
  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translate(-50%, -50%);
}

.errorContentWrapper {
  position: absolute;
  top: 70%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translate(-50%, -50%);
}

.subtitleText {
  font-size: 30px;
  margin: auto;
}

#createRoomBtn {
  margin-right: 20px;
}

.category {
  display: inline-block;
  height: 80px;
  margin: 5px;
  width: 80px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 90% 90%;
  text-align: center;
  padding-top: 30px;
  color: black;
  font-weight: bold;
}

.category:hover {
  border-radius: 10px;
  background-color: rgba(99, 99, 99, 0.5);
}

.errorMessage {
  padding: 5px;
  margin: 0 auto;
}

.TV {
  background-image: url('../../img/TV.png');
}
.game {
  background-image: url('../../img/game.png');
}
.IT {
  background-image: url('../../img/IT.png');
}
.sports {
  background-image: url('../../img/sports.png');
}
.travel {
  background-image: url('../../img/travel.png');
}


/* Modal */
#createRoomModalLabel {
  font-size: 30px;
  margin-top: 10px;
}

.modalSubtitle {
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 5px;
}

.categoryModal {
  display: inline-block;
  height: 60px;
  margin: 5px;
  width: 60px;
  padding-top: 20px;
}

#mRadio1, #mRadio2, #mRadio3, #mRadio4, #mRadio5 {
  margin: 0;
  padding: 0;
}
