.lobbyContent {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lobbyContentWrapper {

}

.subtitleText {
  font-size: 30px;
  margin: auto;
}


#createRoomBtn {
  margin-right: 20px;
}

.category {
  display: inline-block;
  height: 80px;
  margin: 5px;
  width: 80px;
  font-size: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 90% 90%;
  text-align: center;
  padding-top: 30px;
  color: white;
  font-weight: 900;
  text-shadow: #000000 1px 1px 1px, rgb(59, 59, 59) 2px 2px 2px;
}

.category:hover {
  border-radius: 10px;
  background-color: rgba(99, 99, 99, 0.5);
}

.errorMessage {
  display: inline-block;
  font-size: 12px;
  padding-top: 10px;
}

.TV {
  background-image: url('../../img/TV.png');
}
.game {
  background-image: url('../../img/game.png');
}
.IT {
  background-image: url('../../img/anime.png');
}
.logos {
  background-image: url('../../img/brand.png');
}
.travel {
  background-image: url('../../img/travel.png');
}


/* Modal */
#createRoomModalLabel {
  font-size: 30px;
  margin-top: 10px;
}

.modalSubtitle {
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 5px;
}

.categoryModal {
  height: 60px;
  margin: 5px;
  width: 60px;
  padding-top: 20px;
}

#modalTopic {
  width: 100%;
}

#mRadio1, #mRadio2, #mRadio3, #mRadio4, #mRadio5 {
  margin: 0;
  padding: 0;
}

/***
Chat
***/
.chatLeftIconNone {
  display: none;
}

.chatInputGroup {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 140px;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  justify-content: flex-start;
}
.sendBtn {

}
.chatBadge {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 75px;
  margin-bottom: 60px;
}
.chatToggle {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 30px;
  margin-bottom: 30px;
}
.globalChat {

}
.chatListWrapper::-webkit-scrollbar {
  display: none;
}
.chatListWrapper {
  position: absolute;
  top: 0;
  padding-top: 150px;
  padding-bottom: 10px;
  overflow: auto;
  height: 82%;
  width: 100%;
  word-break: break-all;
}
.chatContentWrapper {
  border-bottom: 1px solid rgb(228, 227, 227);
}
.chatSenderLeft, .chatSenderRight {
  margin-bottom: 10px;
  font-size: 12px;
}
.rightChatWrapper {
  display: flex;
  flex-direction: column;
}
.chatSenderRight, .chatTextRight {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

@media screen and (max-width:450px) {
  .lobbyContentWrapper {
    margin-top: 30px;
    width: auto;
  }
  .category {
    width: 65px;
    height: 65px;
    font-size: 12px;
  }
  .categoryModal {
    height: 40px;
    width: 40px;
  }
  #modalTopic {
    height: 70px;
  }
  #createRoomBtn, #quickJoinBtn {
    font-size: 11px;
    height: 60px;
    padding: 10px;
  }
  .chatToggle {
    display: none !important;
  }
}
@media screen and (max-height:450px) {
  .lobbyContentWrapper {
    margin-top: 30px;
    width: auto;
  }
  .category {
    width: 55px;
    height: 55px;
    font-size: 12px;
  }
  .categoryModal {
    height: 40px;
    width: 40px;
  }
  #modalTopic {
    height: 70px;
  }
  #createRoomModalLabel {
    font-size: 25px;
  }
  #createRoomBtn, #quickJoinBtn {
    font-size: 11px;
    height: 40px;
    padding: 10px;
  }
  .chatToggle {
    display: none !important;
  }
  .subtitleText {
    font-size: 25px;
  }
}
@media screen and (max-width:650px) {
  .subtitleText {
    font-size: 20px;
  }
  .lobbyContentWrapper {
    width: 90%;
  }
}
@media screen and (max-width:900px) {
  .lobbyContentWrapper {
    width: 55%;
  }
}
@media screen and (max-width:830px) {
  .lobbyContentWrapper {
    width: 60%;
  }
}
@media screen and (max-height:650px) {
  .chatListWrapper {
    height: 75%;
  }
}
