.lobbyContent {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.paperWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.lobbyContentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lobbyContentWrapper1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lobbyContentWrapper2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120%;
  max-width: 280px;
}
.lobbyClose {
  align-self: flex-end;
}

.subtitleText {
  font-size: 24px;
  margin: auto;
  align-self: flex-start;
  width: 100%;
  display: inline-flex;
}
.subtitleTextLiner {
  font-size: 28px;
  margin: auto;
  align-self: flex-start;
  width: 100%;
}

.category {
  display: inline-block;
  height: 80px;
  margin: 5px;
  width: 80px;
  font-size: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 90% 90%;
  text-align: center;
  padding-top: 30px;
  color: white;
  font-weight: 900;
  text-shadow: #000000 1px 1px 1px, rgb(59, 59, 59) 2px 2px 2px;
}

.category:hover {
  border-radius: 10px;
}

.categoryAni:hover {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: tada;
}

.errorMessage {
  margin-top: 5px;
  color: red;
  font-size: 12px;
  height: 15px;
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.successMessage {
  font-family: Verdana;
  color: rgb(92, 232, 42);
  display: inline-block;
  font-size: 15px;
  padding-top: 10px;
  animation-duration: 5s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
  text-shadow: 1px 1.5px 1px rgb(70, 70, 70);
}

.TV {
  background-image: url('../../img/TV.png');
}
.game {
  background-image: url('../../img/game.png');
}
.IT {
  background-image: url('../../img/anime.png');
}
.logos {
  background-image: url('../../img/brand.png');
}
.travel {
  background-image: url('../../img/travel.png');
}


/* Room Join */
.joinRoomBtn {
  margin-top: 20px;
}
.joinRoomInput {
  margin-top: 30px;
}


/* Create Room Modal */
.categoryModal {
  height: 60px;
  margin: 5px;
  width: 60px;
  padding-top: 20px;
}

#mRadio1, #mRadio2, #mRadio3, #mRadio4, #mRadio5 {
  margin: 0;
  padding: 0;
}

.roomCreateBtn {
  margin-top: 25px;
  width: 100%;
}

.roomCreateInput {
  margin-top: 25px;
  margin-bottom: 25px;
}

.categoryRadio {
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

/***
Chat
***/
.chatLeftIconNone {
  display: none;
}
.chatWrapperForBottom {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 120px;
  overflow: auto;
  word-break: break-all;
  top: 0;
}
.chatWrapperForBottom::-webkit-scrollbar {
  display: none;
}
.chatInputGroup {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 140px;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  justify-content: flex-start;
}
.sendBtn {

}
.chatBadge {
  position: absolute;
  animation-iteration-count: 5;
  bottom: 0;
  right: 0;
  margin-right: 75px;
  margin-bottom: 60px;
}
.chatToggle {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 30px;
  margin-bottom: 30px;
}
.chatListWrapper::-webkit-scrollbar {
  display: none;
}
.chatListWrapper {
  position: absolute;
  top: 0;
  padding-top: 150px;
  padding-bottom: 10px;
  overflow: auto;
  height: 82%;
  width: 100%;
  word-break: break-all;
}
.chatContentWrapper {

}
.chatSenderLeft, .chatSenderRight {
  margin-bottom: 10px;
  font-size: 12px;
}
.rightChatWrapper {
  display: flex;
  flex-direction: column;
}
.chatSenderRight, .chatTextRight {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

@media screen and (max-width:480px) {
  .lobbyContentWrapper {
    margin-top: 30px;
    width: auto;
  }
  .category {
    width: 55px;
    height: 55px;
    font-size: 12px;
  }
  .categoryModal {
    height: 40px;
    width: 40px;
  }
  .chatToggle {
    display: none !important;
  }
  .chatBadge {
    margin: 0;
    margin-right: 80px;
    margin-bottom: -20px;
    z-index: 10000;
  }
  .paperWrapper {
    flex-direction: column;
  }
}
@media screen and (max-height:480px) {
  .lobbyContentWrapper {
    margin-top: 30px;
    width: auto;
  }
  .category {
    width: 55px;
    height: 55px;
    font-size: 12px;
  }
  .categoryModal {
    height: 40px;
    width: 40px;
  }
  .chatToggle {
    display: none !important;
  }
  .subtitleText {
    font-size: 16px;
  }
  .chatBadge {
    display: none !important;
  }
  .joinRoomInput {
    margin-top: 10px;
  }
  .roomCreateInput, .roomCreateBtn {
    margin: 0;
  }
}
@media screen and (max-height:480px) and (max-width:700px) {
  .roomCreateInput {
    display: none !important;
  }
}
@media screen and (max-width:650px) {
  .subtitleText {
    font-size: 20px;
  }
  .lobbyContentWrapper {
    width: 90%;
  }
}
@media screen and (max-width:900px) {
  .lobbyContentWrapper {
    width: 55%;
  }
}
@media screen and (max-width:830px) {
  .lobbyContentWrapper {
    width: 60%;
  }
}
@media screen and (max-height:650px) {
  .chatListWrapper {
    height: 75%;
  }
}

/* iPhone 6 landscape */
@media only screen and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2){
    .chatBadge {
      margin: 0;
      margin-right: 180px;
      margin-bottom: -20px;
      z-index: 10000;
    }
    .lobbyContentWrapper {
      margin: auto;
    }
 }

/* iPhone 6 portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2){
    .chatBadge {
      margin: 0;
      margin-right: 80px;
      margin-bottom: -20px;
      z-index: 10000;
    }
}

/* iPhone 6 Plus landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 3) {
    .chatBadge {
      margin: 0;
      margin-right: 210px;
      margin-bottom: -20px;
      z-index: 10000;
    }
   }

/* iPhone 6 Plus portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 3)
{ }

/* iPhone 6 and 6 Plus */
@media only screen
  and (max-device-width: 640px),
  only screen and (max-device-width: 667px),
  only screen and (max-width: 480px)
{ }
