.userListWrapper {
  position: relative;
  display: flex;
  width: 100%;
  flex: 3;
  flex-direction: row;
}

.nameCardsBG {
  display: flex;
  height: 30%;
  flex: 1;
  align-self: flex-end;
  margin: 10px;
  margin-bottom: 20px;
  background-color: rgba(214, 212, 212, 0.55);
  align-items: center;
  justify-content: center;
  color: rgba(168, 168, 168, 0.55);
  font-weight: 900;
  font-size: 40px;
  text-shadow: 1px 1px white, -1px -1px #dbdbdb;
}

.shadowOut {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
                      0 1px 5px 0 rgba(0, 0, 0, .12),
                      0 3px 1px -2px rgba(0, 0, 0, .2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
              0 1px 5px 0 rgba(0, 0, 0, .12),
              0 3px 1px -2px rgba(0, 0, 0, .2);
}

.nameCard {
  display: flex;
  flex: 1;
  height: 30%;
  align-self: flex-end;
  margin: 10px;
  margin-bottom: 20px;
  background-color: #9c27b0;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 15px;
  color: white;
}

.arrow_box {
	position: relative;
	background: #88b7d5;
}
.arrow_box:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #88b7d5;
	border-width: 12px;
	margin-left: -12px;
}

.chatWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.chatPosition{
  display: flex;
  flex: 1;
  height: 20%;
  align-self: center;
}

.chatBubble {
  position: relative;
  font-size: 15px;
  max-width: 150px;
  word-break: break-all;
  padding: 10px;
}
